<navbar class="navbar navbar-expand-sm navbar-light bg-primary">
    <div class="container">
        <a href="#" class="navbar-brand">CourseApp</a>

        <ul class="navbar-nav me-auto">
            <li class="navbar-nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="navbar-nav-item">
                <a asp-controller="Course" asp-action="list" class="nav-link">Kurslar</a>
            </li>
        </ul>
    </div>
</navbar>